body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  color: #000;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

#module-list {
  column-width: 300px;
  column-gap: 10px;
  margin: auto;
  width: 95%;
  max-width: 1200px;
}

.module {
  break-inside: avoid;;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
}