body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  color: #000;
  padding: 20px;
}

h1 {
  font-size: 36px;
}

ul {
  list-style-type: none;
  font-size: 18px;
}